.wrapper {
width: 200px;

margin-top: 10px;
padding: 5px 30px;
text-align: center;

background-color:red;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.text {
    font-weight: 600;
    font-style: 18px;

    color: white;
}